* {
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  min-height: 100vh;
  background-color: #011403;
}

#app {
  width: 100%;
  max-width: 100%;
}